@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}

#main-cart {
    height: 100vh;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);

}

html {
    scroll-behavior: smooth;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end; 
}

.navbar-nav {
    display: flex;
    align-items: center; 
}


.navbar {
    height: 85px;
    box-shadow: 0 0 7px black !important;
    background-color: rgb(0, 0, 0) !important;
    position: relative;
}


.navbar-cart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a:hover {
    color: yellow !important;
}

.navbar-brand img {
    height: 90px;
}

.nav-link {
    color: white !important;
}

.navbar img {
    height: 80px;
}

.navbar a {
    color: white;
    text-decoration: none;
}


.navbar {
    display: flex;
    align-items: center; 
}

.navbar-toggler {
    display: flex;
    align-items: center; 
    justify-content: center; 
}



#cuenta-carrito {
    background-color: rgb(100, 2, 2);
    border-radius: 100%;
    display: inline-block;
    line-height: 20px;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
}

.filtro {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.btn {
    background-color: whitesmoke;
}

.main {
    height: 500px;
    width: 100%;
    background-image: url(./img/wood-2065366_1280.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 18px rgb(241, 200, 200);
    text-align: center;
    align-items: center;
}

h1 {
    color: whitesmoke;
    font-size: 38px;
}

.main p {
    color: white;
    text-shadow: 0 0 10px black;
    backdrop-filter: blur (10px);
}

.call {
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.call p {
    margin-bottom: 20px;
}

.call a {
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 10px 20px;
    text-decoration: none;
}

section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
}

#section-carrito {
    height: 700px;
}

h2 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 0;
}

footer {
    background-color: black;
    color: rgb(207, 197, 197);
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.subir {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.178);
    color: black;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    box-shadow: 0 0 5px whitesmoke;
}

@media only screen and (min-width: 0) and (max-width: 576px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        padding-right: 10px;
    }
}

@media (max-width: 767.98px) {
    .navbar-cart {
        display: none; 
    }
}

@media (max-width: 767px) {
    .navbar-toggler {
        margin-bottom: 30px; 
    }
}
